<footer class="footer"> <!-- Inicio Footer --> 
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item">
                <a class="navbar__link" href="./src/views/shop/shop.ejs">SHOP</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="./src/views/auth/register.ejs">REGISTRARSE</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="./src/views/auth/login.ejs">LOGIN</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="./src/views/contacto.html">CONTACTO</a>
            </li>
        </ul>
        <picture>
            <img src="/img/icons/branding/isotype.svg" alt="isotipo de la marca Funkoshop">
        </picture>
    </nav>
    <p class="footer__copy">All rights reserved 2023 - Funko shop &copy;</p>
</footer> <!-- Fin Footer -->

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="/public/js/glide.js"></script>
    <script src="/public/js/navbar.js"></script>