<%- include('../partials/header.ejs') %>
    <main>

        <section class="create">
            <form action="" method="post" class="admin__form create__form">
                <h1 class="admin__title">CREAR NUEVO ITEM</h1>

                <div class="create__basis">
                    <label for="product__category">Categoría: </label>
                    <select class="field__select">
                        <option value="0">Seleccionar:</option>
                        <option value="1">Audi</option>
                      </select>
                    
                      <label for="create__category">Licencia:</label>
                    <select class="field__select">
                        <option value="0">Seleccionar:</option>
                        <option value="1">Audi</option>
                      </select>

                </div>
                <div class="field create__productName">
                    <label for="create-productName">Nombre del producto:</label>

                    <input
                    type="text" class="input__field" id="create__productName"
                    required placeholder="Kakashi Hatake Shippuden Saga (goat)">
                </div>

                <div class="create__description">
                    <textarea name="create_desc" id="create_desc" class="create__desc" cols="30" rows="10" placeholder="Descripción del producto"></textarea>
                </div>
                
                <div class="create__productInfo">

                    <div>
                        <label for="">SKU:</label>
                        <input type="text" class="input__field" id="create__productSKU"
                        placeholder="SSK1111AB001" >
                    </div>
                    <div>
                        <label for="">Precio: </label>
                        <input type="number" class="medium__input__field" id="create__productPrice" step="any"
                        placeholder="$0.000,00" >
                    </div>
                    
                    <div>
                        <label for="">Stock:</label>
                        <input type="number" class="small__input__field" id="create__productStock" min="1" max="1000"
                        placeholder="0">
                    </div>

                </div>

                <div class="create__payment">
                    
                    <div class="create__discount">
                        <label for="">Descuento:</label>
                        <input type="number"
                        class="small__input__field"
                        id="create__discount"
                        placeholder="0%">
                    </div>

                    <div class="create__fees">
                        <label for="interest-free fees">Cuotas</label>
                        <select id="product_interest-free fees" class="field__select">
                            <option value="0">3 cuotas sin interés</option>
                            <option value="1">Sin cuotas</option>
                            <option value="2">3 cuotas sin interés</option>
                            <option value="3">6 cuotas sin interés</option>
                            <option value="4">12 cuotas sin interés</option>

                        </select>
                    </div>  

                </div>

                <div class="create__submitImg">
                    <label for="create_uploadImage">Imágenes: </label>
                    <input type="file" id="create_uploadImage" class="create_uploadImage">
                </div>

                
                <div class="admin__submit">
                    <button class="admin__buttons">Agregar Producto</button>

                    <div class="admin__submit">
                        <button class="admin__buttons">Limpiar</button>
            </form>
    </section>


    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>