:root {
    /* Pallete */
    --primary-solid: rgb(255, 51, 51);
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid:#1D84B5;
    --secondary-900: rgba(28, 133, 181, 0.9);
    --secondary-500: rgba(28, 133, 181, 0.5);
    --secondary-300: rgba(28, 133, 181, 0.3);

    --dark-solid:#1f1f1f;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid:#30343F;
    --light-bg-solid:#FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */

    --base-font: 'Inter' , sans-serif;
    --alternative-font: 'Raleway' , sans-serif;

    /* Font Sizes */

    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */

    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-65: 6.5rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

/* ITEM */

.item {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.item:nth-child(2) .item__cover {
    order: -1;
}

.item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    padding-left: var(--spacing-65);
}

.item__license {
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-weight: 500;
}

.item__name {
    font-family: var(--base-font);
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.item__description {
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-weight: 400;
}

.item__price {
    font-family: var(--base-font);
    font-size: var(--font-jumbo);
    font-weight: 400;
}

.item__cart {
    display: flex;
    flex-direction: row;
    border-radius: 0;
    height: 3.5rem;
}

.item__input {
    width: 10.5rem;
    height: 3.5rem;
    text-align: center;
    font-size: medium;
    padding: var(--spacing-8);
}

.item__add {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: var(--spacing-20);
    padding-left: var(--spacing-8);
}

.item__quantity {
    display: flex;
    align-items: flex-start;
    border: none;
    max-height: 1.6em;
    max-width: 1.8em;
}

.item__submit {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    font-weight: 200;
    outline: none;
    border: none;
    text-align: center;
    width: 18rem;
}

.item__payment {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

.item__payment-method {
    text-decoration: underline;
}

.item__link:hover {
    background-color: var(--dark-bg-solid);
}
