<%- include('../partials/header.ejs') %>
    <main>

        <!-- Login -->
        <section class="login">
            <form action="" method="post" class="admin__form">
                <h1 class="admin__title">INGRESAR A MI CUENTA</h1>
                <div class="field login__email">
                    <label for="login-email">Email:</label>
                    <input type="email" class="input__field" id="login__email"
                    required placeholder="johndoe@email.com" >
                </div>
                
                <div class="field login__password">
                    <label for="login-password">Contraseña:</label>
                    <input type="text" class="input__field" id="login__password"
                    required
                    placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                </div>
                
                <div class="admin__submit">
                    <button class="admin__buttons">Ingresar</button>
                
                    <div class="admin__checkbox">
                        <input type="checkbox" name="rememberMe" id="rememberMe" class="login__rememberMe">
                        <label for="rememberMe">Recordarme</label>
                    </div>
                </div>
                <a href="" class="login__forgotPw">Olvide mi contraseña</a>
            </form>

    
       
    </section>

    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>