<%- include('../partials/header.ejs') %>
    <main>
        
        <section class="register">
            <form action="" method="post" class="admin__form">

                <div class="register__titles">
                    <h1 class="admin__title"> CREA TU CUENTA</h1>
                    <h4 class="admin__subtitle"> Completa el formulario para ser parte del mundo de los funkos </h4>
                </div>

                <div class="field">
                    <label for="register-name">Nombre:</label>
                    <input id="POST-name" type="text" name="form_name" class="input__field" placeholder="Juan"/>
                </div>
                <div class="field">
                    <label for="register-surename">Apellido:</label>
                    <input id="POST-surename" type="text" name="form_surename" class="input__field" placeholder="Guarnizo" />
                </div>
                <div class="field">
                    <label for="register-email">Email:</label>
                    <input id="POST-email" type="email" name="form_email" class="input__field" placeholder="johndoe@email.com"/>
                </div>
                <div class="field">
                    <label for="register-password">Contraseña:</label>
                    <input id="POST-password" type="password" name="form_password" class="input__field" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"/>
                </div>          
                <div class="field">
                    <label for="register-password">Repita contraseña:</label>
                    <input id="POST-repeatPassword" type="password" name="form_repeatPassword" class="input__field" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"/>
                </div>
                
                <div class="admin__submit">
                    <button class="admin__buttons">Ingresar</button>
                    <div class="admin__checkbox">
                        <input type="checkbox" name="termAndConditions" id="termAndConditions" class="termAndConditions">
                        <label for="termAndConditions">Acepto <a class="termAndConditions" href="">Términos y Condiciones</a> </label>
                    </div>
                </div>
            
            </form>

        </section>


    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>